.constructor-element {
    width: 100%;
}

.constructor-element__price {
    margin-left: auto;
}

.drag-icon {
    margin-top: 26px;
    margin-right: 10px;
}

.order-row {
    display: inline-flex;
    width: 90%;
}
