.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  padding-top: 20px;
  width: 75%;
  margin: auto;
  display: flex;
}

.Section {
  width: 50%;
  float: left;
  text-align: left;
  overflow-y:auto;
}

.Section:last-child {
  text-align: right;
}

h1 {
  text-align: left;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.total_price {
  padding-top: 30px;
  float: right;
}

.total_price span {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
}

.posCenter {
  text-align: center;
}

.order_list {
  float: right;
}

@media (min-width: 1400px) {
  .Main {
    width: 70%;
  }
}