header {
    background-color: #1c1c21;
}

nav {
    margin: auto !important;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 75%;
}

.navbarbrand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0px;
}

ul li {
    padding-right: 20px;
}

ul.left li {
    float: left;
}

ul.right li {
    float: right;

}

li span.active {
    color: white;
}

li span {
    /*padding-left: 5px;*/
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px;
}



